{% extends 'base.html' %}

{% block body %}
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Auth detail 1</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Auth proof</label>
    <input type="image" src="img_submit.gif" alt="Submit" width="48" height="48">

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock body %}