{% extends 'base.html' %}

{% block body %}
<body class="text-center">
    <div class="container border w-50 y-30">
        <form method="POST" class="form-register" style="color:black">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="https://res.cloudinary.com/jimshapedcoding/image/upload/v1597332609/android-icon-192x192_ove2a7.png" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Create your Account
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control text-center", placeholder="User Name") }}
            <br>
            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control text-center", placeholder="Email Address") }}
            <br>
            {{ form.password1.label() }}
            {{ form.password1(class="form-control text-center", placeholder="Password") }}
            <br>
            {{ form.password2.label() }}
            {{ form.password2(class="form-control text-center", placeholder="Confirm Password") }}

            <br>
            {{form.type.label()}}
            {{ form.type(class= "form-control text-left", style="list-style:none")}}

             <div class="checkbox mb-3">
               <h6>Already have an account?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
            </div>




            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>

{% endblock body %}


